* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: smaller;
    background-color: rgb(224, 224, 224);
}

.menu {
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}
.img-1{
    max-width: 200px;

    border-radius: 5px;
}



.page {
    display: flex;
    flex-wrap: wrap;
}
.section{
    height: 300px;

width: 100%;
}

footer{
    background-color: black;
    height: 80px;
}
.sezione-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height:300px;
}
.testo-1 {
height: 130px;
display: flex;
justify-content: center;

}
.testo-1 p {

    margin-left: 20px;
    display: block;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section .testo-1 {
    margin: 5px 10px;
    max-width: 480px;
}

footer p{
    font-size: xx-small;

}

@media only screen and (min-width: 1450px)
{


    body{
        display:block;
        background-color: black;
    }
    .menu{
        font-size: large;
    }


    .content{
    max-width: 30%;
   margin-top: 15px;
    border-radius: 5px;
    display: block;
    height: 215px;
    margin-right: 50px;
    margin-left: 2px;


    }

    .page {
     display: flex;
    align-items: center;
    justify-content: center;
    }
    .sezione-1{
        float: left;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        height: 400px;
    }
    .testo-1{
        width: 50%;
        margin-top: 125px;

    }
     .img{ margin-right: 30px;
        max-width: 300px;

     }


 .testo--1{
    display: flex;
    justify-content: flex-start;
 }

    .spacer {
        display: block;
        height:10px;

        overflow: hidden;
        width: 100%;
        background-color: black;

    }
    .part-1{

        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: rgb(224, 224, 224);
        height: 60vh;
        border: 1px solid blue;
    }


    .part-2 {
        display:flex;
        background-color: rgb(224, 224, 224);
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        justify-content: flex-start;
     }
     footer p{
         font-size: initial;
         margin-top: 10px;
      }
     .testo{
         display: block;
         width:100%;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
           margin-top: 5px;
           height: 200px;
           padding-top: 5px;


     }

    .img-2{
        float: left;
        max-width: 300px;
        display: block;
        margin-right: 5px;

    }
    #foto{
      max-width: 350px;
      position: relative;
      top: 80px;
    }

}

