@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-MediumCondObl.woff2') format('woff2'),
        url('HelveticaNeue-MediumCondObl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

