@font-face {
    font-family: 'HelveticaInserat';
    src: url('HelveticaInserat.woff2') format('woff2'),
        url('HelveticaInserat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaInserat';
    src: url('HelveticaInserat.woff2') format('woff2'),
        url('HelveticaInserat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

